<script>
window.DEV_URLS = window.DEV_URLS || {};
window.DEV_URLS.confirm = '{{ url_for("dev.confirm") }}';
window.DEV_URLS.backup = '{{ url_for("dev.create_backup") }}';
window.DEV_URLS.restore = '{{ url_for("dev.restore_backup") }}';
window.DEV_URLS.clear = '{{ url_for("dev.clear_database") }}';
window.DEV_URLS.seed = '{{ url_for("dev.seed_data") }}';
window.DEV_URLS['read-this-month'] = '{{ url_for("dev.read_this_month") }}';
window.DEV_URLS['unread-this-month'] = '{{ url_for("dev.unread_this_month") }}';
window.DEV_URLS['pay-this-month'] = '{{ url_for("dev.pay_this_month") }}';
window.DEV_URLS['remove-payment-this-month'] = '{{ url_for("dev.remove_payment_this_month") }}';
window.DEV_URLS.list_backups = '{{ url_for("dev.list_backups") }}';
</script>
<script src="/static/dev/js/confirm.js"></script>
