{% extends "landing/models/base.html" %}

{% block model_type %}Bungalow{% endblock %}
{% block model_name %}Model Sophia{% endblock %}
{% block model_description %}A spacious four-bedroom bungalow with generous living spaces and no stairs.{% endblock %}
{% block interest_title %}Interested in Model Sophia?{% endblock %}

{% block model_photos %}
<div class="col-lg-4 col-md-6 mb-4">
    <img src="{{ url_for('static', filename='assets/img/landing/277667f5a5d5cd3a61317509a0930c40.jpg') }}" alt="Model Sophia" class="model-photo">
</div>
<div class="col-lg-4 col-md-6 mb-4">
    <img src="{{ url_for('static', filename='assets/img/landing/277667f5a5d5cd3a61317509a0930c40.jpg') }}" alt="Model Sophia" class="model-photo">
</div>
<div class="col-lg-4 col-md-6 mb-4">
    <img src="{{ url_for('static', filename='assets/img/landing/277667f5a5d5cd3a61317509a0930c40.jpg') }}" alt="Model Sophia" class="model-photo">
</div>
<div class="col-lg-6 col-md-6 mb-4">
    <img src="{{ url_for('static', filename='assets/img/landing/277667f5a5d5cd3a61317509a0930c40.jpg') }}" alt="Model Sophia" class="model-photo">
</div>
<div class="col-lg-6 col-md-6 mb-4">
    <img src="{{ url_for('static', filename='assets/img/landing/277667f5a5d5cd3a61317509a0930c40.jpg') }}" alt="Model Sophia" class="model-photo">
</div>
{% endblock %}

{% block model_specs %}{% endblock %}

{% block model_features %}
<div class="col-sm-6 mb-3">
    <div class="model-feature-item">
        <div class="model-feature-icon">
            <i class="fas fa-check"></i>
        </div>
        <span class="model-feature-label">Kitchen Area</span>
    </div>
</div>
<div class="col-sm-6 mb-3">
    <div class="model-feature-item">
        <div class="model-feature-icon">
            <i class="fas fa-check"></i>
        </div>
        <span class="model-feature-label">Living Area</span>
    </div>
</div>
<div class="col-sm-6 mb-3">
    <div class="model-feature-item">
        <div class="model-feature-icon">
            <i class="fas fa-check"></i>
        </div>
        <span class="model-feature-label">Dining Area</span>
    </div>
</div>
{% endblock %}
