:7020 {
    handle /health {
        reverse_proxy landing-page:8001
    }

    handle /404 {
        reverse_proxy landing-page:8001
    }

    handle /webhook/* {
        reverse_proxy webhook-container:8009
    }

    handle /customer/* {
        forward_auth gatekeeper:7000 {
            uri /api/authz/forward-auth
        }
        reverse_proxy customer-portal:8002
    }

    handle /static/* {
        forward_auth gatekeeper:7000 {
            uri /api/authz/forward-auth
        }
        reverse_proxy landing-page:8001
    }

    handle {
        forward_auth gatekeeper:7000 {
            uri /api/authz/forward-auth
        }
        reverse_proxy landing-page:8001
    }
}

:7021 {
    handle /staff/* {
        forward_auth gatekeeper:7000 {
            uri /api/authz/forward-auth
        }
        reverse_proxy staff-portal:8003
    }

    handle /developer/* {
        forward_auth gatekeeper:7000 {
            uri /api/authz/forward-auth
        }
        reverse_proxy developer-portal:8004
    }

    handle_path /documentation/* {
        forward_auth gatekeeper:7000 {
            uri /api/authz/forward-auth
        }
        reverse_proxy documentation:8005
    }

    handle_path /phpmyadmin/* {
        forward_auth gatekeeper:7000 {
            uri /api/authz/forward-auth
        }
        reverse_proxy phpmyadmin:80
    }

    handle /static/* {
        forward_auth gatekeeper:7000 {
            uri /api/authz/forward-auth
        }
        reverse_proxy landing-page:8001
    }
}
